<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".expertview.ExpertDetailActivity"
            android:parentActivityName=".expertview.ExpertActivity" ></activity>
        <activity
            android:name=".virusviews.VirusDetailActivity"
            android:parentActivityName=".virusviews.VirusShowActivity" />
        <activity
            android:name=".virusviews.VirusShowActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".VirusSearchActivity" />
        <activity
            android:name=".VirusSearchActivity"
            android:parentActivityName=".ShowDataActivity" />
        <activity
            android:name=".globalviews.GlobalActivity"
            android:parentActivityName=".ShowDataActivity" />
        <activity
            android:name=".expertview.ExpertActivity"
            android:parentActivityName=".listviews.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".provinceviews.ProvinceActivity"
            android:parentActivityName=".ShowDataActivity" />
        <activity
            android:name=".ShowDataActivity"
            android:parentActivityName=".listviews.MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".listviews.MainActivity" />
        <activity android:name=".listviews.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>